@model Veterinary.Web.Models.HistoryViewModel
@{
    ViewData["Title"] = "EditHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="advanced-search-form">
    <div>
        <form asp-action="EditHistory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetId" />
            <input type="hidden" asp-for="Id" />        


            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" id="Date" />

            </div>

            <div class="form-group">
                <label asp-for="ServiceTypeId" class="control-label"></label>
                <select asp-for="ServiceTypeId" asp-items="Model.ServiceTypes" class="form-control" id="ServiceTypeId"></select>
                @*<span asp-validation-for="ServiceTypeId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" id="Description" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control" id="Remarks"></textarea>
                @*<span asp-validation-for="Remarks" class="text-danger"></span>*@
            </div>

            <div class="clearfix"></div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-lg btn-responsive" title="Edit"> <i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-success btn-lg btn-responsive" title="Return" onclick="PetsIndex()"> <i class="fa fa-undo"></i></button>
            </div>


        </form>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
      }
}


