@model Veterinary.Web.Models.PetViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="advanced-search-form">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OwnerId" />
        <input type="hidden" asp-for="ImageUrl" />

        <partial name="_Editpet" />

        <div class="clearfix"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-lg btn-responsive" onclick="CreateAddPet(@Model.OwnerId)" title="Edit"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-success btn-lg btn-responsive" title="Return" onclick="PetsIndex()"> <i class="fa fa-undo"></i></button>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
    <script>
        $('#datepicker').datepicker({
            format: 'yyyy/mm/dd',
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
        });
    </script>
}

