@model Veterinary.Web.Models.HistoryViewModel

<div class="container" id="advanced-search-form">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ServiceTypeId" class="control-label"></label>
            <select asp-for="ServiceTypeId" asp-items="Model.ServiceTypes" class="form-control" id="ServiceTypeId"></select>
            <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Date" class="control-label "></label>
            <div class="input-group mb-2">
                <input asp-for="Date" type="search" class="form-control" id="datepicker">
                <div class="input-group-prepend">
                    <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control form-rounded" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="container">
        <label asp-for="Remarks" class="control-label"></label>
        <textarea asp-for="Remarks" class="form-control form-rounded" rows="3"></textarea>
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>
</div>


