@model Veterinary.Web.Models.HistoryViewModel
@{
    ViewData["Title"] = "AddHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" id="advanced-search-form">
    <form asp-action="AddHistory">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PetId" />

        <partial name="_History" />


        <div class="clearfix"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-info btn-lg btn-responsive" onclick="AddHistoryItemValidate()" id="search" title="Create"> <i class="fa fa-plus-square"></i></button>
            <button type="submit" class="btn btn-success btn-lg btn-responsive" onclick="DetailPetItem(@Model.PetId)" title="Return"><i class="fa fa-undo"></i></button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
        <script>
            $('#datepicker').datepicker({
                format: 'yyyy/mm/dd',
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
            });
        </script>
    }
}







