@model Veterinary.Web.Models.PetViewModel
@{
    ViewData["Title"] = "AddPet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="advanced-search-form">
    <form asp-action="AddPet" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OwnerId" />

        <partial name="_Pet" />

        <div class="clearfix"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-responsive" onclick="CreateAddPet()" title="Create" id=""><i class="fa fa-plus"></i></button>
            <button type="submit" class="btn btn-success btn-lg btn-responsive" onclick="OwnerDetailItem(@Model.OwnerId)" title="Return" id=""> <i class="fa fa-undo"></i></button>
        </div>
    </form>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
        <script>
            $('#datepicker').datepicker({
                format: 'yyyy/mm/dd',
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
            });
        </script>
    }
}