@model Veterinary.Web.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_User" />

            <div class="form-group">
                <button class="btn btn-primary" title="Save"><i class="fa fa-save"></i></button>
                <button class="btn btn-success" title="Return"><i class="fa fa-undo"></i></button>             
                @*<a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Back to List</a>*@
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
