@model Veterinary.Web.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="container" id="advanced-search-form">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <partial name="_User" />

        <div id="log-in-form">
            <div class="form-group form-group-btn">
                <button type="submit" class="btn btn-success btn-lg">Log In</button>
                <button class="btn btn-primary  btn-lg btn-responsive" title="Save"><i class="fa fa-save"></i></button>
                <button class="btn btn-success" title="Return"><i class="fa fa-undo"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
        @*<div class="clearfix"></div>
        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <i class="fa fa-save"></i> Create</button>
        <button class="btn btn-primary  btn-lg btn-responsive" title="Save"><i class="fa fa-save"></i></button>
        <button class="btn btn-success" title="Return"><i class="fa fa-undo"></i></button>*@
    </form>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
