@model Veterinary.Web.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="container" id="advanced-search-form">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <partial name="_User" />

        <div class="clearfix"></div>
        <div class="text-center">
         <button  class="btn btn-warning btn-lg btn-responsive" title="Edit"> <i class="fa fa-save"></i></button> 
         <button  class="btn btn-success btn-lg btn-responsive" title="Return" ><i class="fa fa-undo"></i></button> 
        </div> 
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
