@model Veterinary.Web.Models.EditUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="container" id="advanced-search-form">
        <form asp-action="ChangeUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_User" />

            <div class="clearfix"></div>
            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ChangePassword" class="btn btn-warning">Change Password</a>               
            </div>
        </form>
   </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


