

@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_LoginWeb.cshtml";
}


<div>
    <div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="slider_text">
                            <h3>Mercamascotas<br> <span>Hola!</span></h3>
                            <p>Bievenido y gracias por confiar en nosotros<br> 
                            tu mascotas recibirá el mejor trato por parte de nuestro equipo.</p>
                            <a asp-action="login" class="boxed-btn4">Iniciar sessión</a>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="dog_thumb d-none d-lg-block">
                <img src="~/images/dog.png" />               
            </div>
        </div>
    </div>
</div>
