

@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_LoginWeb.cshtml";
}


<div>
    <p>
        QA..Thank you for confirming your email. Now you can login into system.
        <a asp-action="login" class="btn btn-primary stretched-link">Login</a>
    </p>
</div>
