
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>  
        <h1>Lo siento!</h1>
        <h2>Esta página no fue encontrada</h2>
        <p>Lo sentimos, pero la página que busca no existe, se ha eliminado, o ha cambiado el nombre o no está disponible temporalmente</p>
        <a href="/Home/Index">Regresa al inicio del sitio web</a>
    </div>
</div>