@model Veterinary.Web.Models.AddUserViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginWeb.cshtml";
}


<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form>
            <div asp-validation-summary="ModelOnly"></div>
            <h1>Mercamascotas</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>or use your account</span>
            <input asp-for="Username" placeholder="Email" />
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <input asp-for="Password" type="password" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <button asp-action="Login">Login</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>
            <h1>Crea tú cuenta</h1>
            <input asp-for="Document" type="text" placeholder="Nro Documento" />
            <span asp-validation-for="Document" class="text-warning"></span>
            <input asp-for="Username" type="text" placeholder="Correo Electrónico" />
            <span asp-validation-for="Username" class="text-warning"></span>
            <input asp-for="FirstName" type="text" placeholder="Nombre" />
            <span asp-validation-for="FirstName" class="text-warning"></span>
            <input asp-for="Password" type="password" placeholder="Contraseña" />
            <span asp-validation-for="Password" class="text-warning"></span>
            <input asp-for="PasswordConfirm" type="password" placeholder="Confirmar Contraseña" />
            <span asp-validation-for="PasswordConfirm" class="text-warning"></span>
            <button>Crear</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">  
            <div class="overlay-panel overlay-right">
                <h1>Hola, Amigo!</h1>
                <p>Te invitamos si aún no estas registrado a que lo hagas, para que inicies una relación con nosotros!</p>
                <button class="ghost" id="signUp">Ir</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script type="text/javascript">
            const signUpButton = document.getElementById('signUp');           
            const container = document.getElementById('container');

            signUpButton.addEventListener('click', () => {
                container.classList.add("right-panel-active");
                let url = "/";
                window.location.href = url;
            });

        </script>
    }
}




