@model Veterinary.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="advanced-search-form">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <partial name="_User" />

        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PasswordConfirm" class="control-label"></label>
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>

        <div class="clearfix"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-lg btn-responsive" title="Edit"> <i class="fa fa-save"></i></button>           
            <button type="button" class="btn btn-success btn-lg btn-responsive" title="Return" onclick="ManagerIndex()"> <i class="fa fa-undo"></i></button>
        </div>
    </form>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
    }
}











