@model Veterinary.Web.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Managers/Index">Clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Administradores</li>
    </ol>
</nav>
<div class="container" id="advanced-search-form">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <partial name="_User" />

        <div class="clearfix"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-lg btn-responsive" onclick="EditManager(@Model.Id)" title="Edit"> <i class="fa fa-save"></i></button>
            <button asp-action="Index" class="btn btn-success btn-lg btn-responsive" title="Return"><i class="fa fa-undo"></i></button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
    }
}









