@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/** {
    box-sizing: border-box;
}*/

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 4px 0;
}


.RememberMe input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
}


button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}


    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}


#container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p {
        margin: 10px 0;
    }

    footer i {
        color: red;
    }

    footer a {
        color: #3c97bf;
        text-decoration: none;
    }

    /***********/

  .slider_area {
      position: relative;
      z-index: 3;
  }


  .slider_area .single_slider {
      height: 725px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }

@media (max-width: 767px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 550px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

/* line 27, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text {
    position: relative;
    z-index: 6;
}

    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 75px;
        font-weight: 200;
        margin-bottom: 4px;
        line-height: 85px;
    }

        /* line 37, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
        .slider_area .single_slider .slider_text h3 span {
            font-weight: 800;
        }

@media (max-width: 767px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 45px;
        line-height: 55px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 60px;
        line-height: 70px;
    }
}

/* line 53, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 12px;
}

@media (max-width: 767px) {
    /* line 63, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text p br {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 63, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text p br {
        display: none;
    }
}

/* line 74, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .dog_thumb {
    position: absolute;
    bottom: 0;
    right: 15%;
    bottom: -94px;
    z-index: 1;
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 74, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb {
        right: 0;
        text-align: right;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    /* line 74, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb {
        right: 10%;
        text-align: right;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    /* line 74, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb {
        right: 10%;
        text-align: right;
    }
}

/* line 92, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .dog_thumb img {
    max-width: 100%;
}

@media (max-width: 767px) {
    /* line 92, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb img {
        max-width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 92, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb img {
        max-width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    /* line 92, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb img {
        max-width: 80%;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    /* line 92, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .dog_thumb img {
        max-width: 80%;
    }
}

/* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider {
    height: 725px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 550px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    /* line 7, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider {
        height: 600px;
    }
}

/* line 27, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text {
    position: relative;
    z-index: 6;
}

    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 75px;
        font-weight: 200;
        margin-bottom: 4px;
        line-height: 85px;
    }

        /* line 37, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
        .slider_area .single_slider .slider_text h3 span {
            font-weight: 800;
        }

@media (max-width: 767px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 45px;
        line-height: 55px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 60px;
        line-height: 70px;
    }
}

/* line 53, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 12px;
}

@media (max-width: 767px) {
    /* line 63, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text p br {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 63, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text p br {
        display: none;
    }
}
/* line 27, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text {
    position: relative;
    z-index: 6;
}

    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 75px;
        font-weight: 200;
        margin-bottom: 4px;
        line-height: 85px;
    }

        /* line 37, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
        .slider_area .single_slider .slider_text h3 span {
            font-weight: 800;
        }

@media (max-width: 767px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 45px;
        line-height: 55px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 30, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
        font-size: 60px;
        line-height: 70px;
    }
}

/* line 53, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 12px;
}

@media (max-width: 767px) {
    /* line 63, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text p br {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 63, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text p br {
        display: none;
    }
}

/* line 49, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_btn.scss */
.boxed-btn4 {
    background: #2f6997;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    color: #fff;
    padding: 17px 50px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

    /* line 59, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_btn.scss */
    .boxed-btn4:hover {
        background: #ff3500;
        color: #fff;
        border: 1px solid #ff3500;
    }

    /* line 64, ../../Arafath/CL/january 2020/240. Animal/HTML/scss/_btn.scss */
    .boxed-btn4:focus {
        outline: none;
    }


    .bordered_1px {
        border-top: 1px solid #e0e0e0;
        padding-bottom: 30px;
    }

    .slider_bg_1 {
        background-image: url(../images/banner.png);
    }

