* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*****************************
    login Area General
*******************************/
.AreaGeneral {
    width: 100%;
    margin: 0 auto;
}

.container-background {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

    .container-background::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.9);
    }

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.form-label-group {
    position: relative;
}

    .form-label-group input {
        border-radius: 2rem;
    }

/*.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
    margin: 10px;
}*/

.custom-control {
    margin: 10px;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/*****************************
    footer Area General
*******************************/
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2C3E50;
    color: #fff;
}


.social-link li {
    display: inline-block;
    margin: 0 5px;
}

    .social-link li a {
        color: #ccc;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        transition: .5s;
    }


/*****************************
    Copyright Area General
*******************************/
.copyright {
    background-color: #1a252f;
}
